<%- include ("./partials/_header") %>



  <div class="container">
    <a href="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
  </div>

  <main role="main" class="container">

    <div class="row">
      <div class="col-md-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">Sorry, there are no posts yet!</h2>
          <p>But no worries! Get started by writing a new entry with the blue "Create New Post" button!</p>
        </div>
      </div>
    </div>



  </main>




  <%- include ("./partials/_footer") %>